includes:
	- vendor/larastan/larastan/extension.neon

parameters:
	level: 6
	paths:
		- src
		- tests
	excludePaths:
		- src/Testing/Concerns
	ignoreErrors:
		- '#Call to an undefined method.*TestResponse.*::assertInertia\(\)#'
		- '#Call to an undefined method.*TestResponse.*::assertInertiaFlash\(\)#'
		- '#Call to an undefined method.*TestResponse.*::assertInertiaFlashMissing\(\)#'
		- '#Call to an undefined method.*TestResponse.*::inertiaPage\(\)#'
		- '#Call to an undefined method.*TestResponse.*::inertiaProps\(\)#'
		- '#Call to an undefined.*method.*Request::inertia\(\)#'
		- '#Call to an undefined.*method.*Route::inertia\(\)#'

